---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';

import { BlogPost } from '@/components/blocks/blog-post';
import DefaultLayout from '@/layouts/DefaultLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { title, description, pubDate, updatedDate } = post.data;
const { Content } = await render(post);

// Gather featured posts (explicitly those marked `featured: true`) to show in the right sidebar
const allPosts = await getCollection('blog');
const featured = allPosts
    .filter((p) => p.data?.featured)
    .filter((p) => p.id !== post.id) 
    .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
    .slice(0, 5);

---
<DefaultLayout>
	<div class="py-28 lg:pt-44 lg:pb-32">
		<BlogPost post={post} featured={featured} client:only='react' >
			<Content />
		</BlogPost>
	</div>
</DefaultLayout>