---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';

const { title, description } = Astro.props;
---

<html lang="en">
    <head>		
        <BaseHead title={title} description={description}  />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" />
        <!-- Google tag (gtag.js) -->
        {
             (
            <>
                <script is:inline type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-5WBXFR71Y5"></script>

                <script is:inline>
                    window.dataLayer = window.dataLayer || [];
                    function gtag() {
                    dataLayer.push(arguments);
                    }
                    gtag("js", new Date());
                    gtag("consent", "default", {
                        ad_storage: "denied",
                        ad_user_data: "denied",
                        ad_personalization: "denied",
                        analytics_storage: "denied",
                    });

                    gtag("config", "G-5WBXFR71Y5");
                </script>
                <script is:inline data-category="analytics">
                    function updateConsents() {
                    gtag('consent', 'update', {
                        ad_storage: 'granted',
                        ad_user_data: 'granted',
                        ad_personalization: 'granted',
                        analytics_storage: 'granted',
                        });
                    }
                </script>

            </>
        )}

        <!-- Katex and Math formula render tag scripts -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css" integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js" integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
    </head>
    <body class={`h-screen antialiased`}
    >
        <Navbar client:only='react' />
        <main><slot /></main>
        <Footer />
        <script type="module" src="/scripts/cookieconsent-config.js"></script>
    </body>
</html>
