---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';

const { title, description } = Astro.props;
---

<html lang="en">
    <head>		
        <BaseHead title={title} description={description}  />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" />
        <!-- Google tag (gtag.js) -->
                <script is:inline type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-5WBXFR71Y5"></script>

                <script is:inline type="text/partytown">
                    window.dataLayer = window.dataLayer || [];
                    function gtag() {
                    dataLayer.push(arguments);
                    }
                    gtag("js", new Date());
                    gtag("consent", "default", {
                        ad_storage: "denied",
                        ad_user_data: "denied",
                        ad_personalization: "denied",
                        analytics_storage: "denied",
                    });

                    gtag("config", "G-5WBXFR71Y5");
                </script>
                <script is:inline data-category="analytics">
                    function updateConsents() {
                    gtag('consent', 'update', {
                        ad_storage: 'granted',
                        ad_user_data: 'granted',
                        ad_personalization: 'granted',
                        analytics_storage: 'granted',
                        });
                    }
                </script>
    </head>
    <body class={`h-screen antialiased`}
    >
        <Navbar client:only='react' />
        <main><slot /></main>
        <Footer />
        <script type="module" src="/src/scripts/cookieconsent-config.js"></script>
    </body>
</html>
