---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';
import { Background } from "@/components/background";


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>		
        <BaseHead title={title} description={description}  />
    </head>
    <body class={`h-screen antialiased`}
    >
        <Navbar client:only='react' />
        <main>
            <Background>
                <div class="py-28 lg:pt-44 lg:pb-32">
                    <section>
                    </section>
                    <slot />
                </div>
            </Background>
        </main>
        <Footer />
    </body>
</html>
