---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';
import { Background } from "@/components/background";


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>		
        <BaseHead title={title} description={description}  />
    </head>
    <body class={`h-screen antialiased`}
    >
        <Navbar client:only='react' />
        <main>
            <Background>
                <div class="py-28 lg:pt-44 lg:pb-32">
                    <section>
                        <div class="container max-w-5xl space-y-4 text-center">
                        <h1 class="text-2xl font-semibold tracking-tight md:text-4xl lg:text-5xl">
                            {title}
                        </h1>
                
                        <p class="text-muted-foreground max-w-md leading-snug font-medium lg:mx-auto">
                            {description}
                        </p>
                        </div>
                    </section>
                    <slot />
                </div>
            </Background>
        </main>
        <Footer />
    </body>
</html>
